@media screen and (max-width: 640px) {

  body {
    font-size: 14px
  }

  .wrapper {
    padding: 4rem 1rem 0 1rem;
  }

  .nav {
    padding: 1rem 0;
    margin-top: -4rem;

    .right {
      height: 0;
      overflow: hidden;
    }
  }

  .content {
    padding: 1rem;

    .header {
      margin: -1rem -1rem 2rem -1rem;
      padding: 1rem 1rem 2rem 1rem;
      text-align: left;

      h1 {
        padding: 0 0 2rem 0;
      }
    }
  }

  /* Columns */

  .row {

    [class*="col-"] {
      margin-bottom: 2rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .col-one {
      @include span-columns(12);
    }

    .col-two {
      @include span-columns(6);

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    .col-three {
      @include span-columns(4);
    }

    .col-four {
      @include span-columns(6);
    }

    .col-five {
      @include span-columns(6);
    }

    .col-six {
      @include span-columns(12);
    }

    .col-seven {
      @include span-columns(4);
    }

    .col-eight {
      @include span-columns(4);
    }

    .col-nine {
      @include span-columns(4);
    }

    .col-ten {
      @include span-columns(4);
    }
  }
}
