/* Stylesheets */
/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Variables */
/* Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, color 0.1s, background 0.1s;
  -moz-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, color 0.1s, background 0.1s;
  -webkit-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, color 0.1s, background 0.1s;
  -o-transition: width 0.1s, height 0.1s, opacity, 0.1s, margin 0.1s, color 0.1s, background 0.1s; }

/* Basics */
html {
  min-height: 100%;
  min-width: 100%; }

body {
  background: #f2f2f2;
  color: #404040;
  font-weight: 400;
  font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px; }

/* Typography */
h1, h2, h3, h4, h5 {
  display: inline-block;
  font-weight: 300;
  line-height: 1.5em;
  padding: 0 0 2rem 0;
  width: 100%;
  clear: both;
  color: #1f61a9; }
  h1 small, h2 small, h3 small, h4 small, h5 small {
    font-size: 1rem;
    color: #1f61a9;
    font-weight: normal;
    margin-left: 1rem; }
  h1 .button, h2 .button, h3 .button, h4 .button, h5 .button {
    margin-left: 1rem; }
  h1:only-child, h2:only-child, h3:only-child, h4:only-child, h5:only-child {
    padding: 0; }
  h1.green, h2.green, h3.green, h4.green, h5.green {
    color: #3ea56d; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem;
  font-weight: normal; }

h3 {
  font-size: 1.2rem; }

h4 {
  font-size: 0.8rem;
  font-weight: bold; }

p {
  clear: both;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 0 2rem 0; }
  p:last-child {
    padding: 0; }
  p.large {
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 0 3rem 0; }
  p.small {
    font-size: 0.75rem;
    line-height: 1.5rem;
    padding: 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; }
[class*="fontawesome-"].large {
  font-size: 3rem;
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
  padding: 0 0 1rem 0; }

ul {
  list-style-type: disc; }
  ul li {
    padding: 1rem 0; }

/* Misc */
.circle {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 30px;
  font-size: 1.5rem;
  background: #999999;
  color: white;
  padding: 10px;
  text-align: center; }
  .circle.blue {
    background: #1f61a9; }
  .circle.green {
    background: #3ea56d; }
  .circle.white {
    background: white; }
  .circle.center {
    position: absolute;
    left: 50%;
    margin: -10px 0 0 -25px; }

h1 .circle, h2 .circle, h3 .circle, h4 .circle, p .circle {
  margin: 0 1rem; }

.center {
  text-align: center; }

.right {
  text-align: right; }

/* Links */
a {
  color: inherit;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.button {
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background: #999999;
  color: white;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
  font-weight: 300; }
  .button:hover {
    color: white;
    background: #8f8f8f; }
  .button:active {
    color: white;
    background: #8a8a8a; }
  .button.green {
    background: #3ea56d; }
    .button.green:hover {
      background: #389663; }
    .button.green:active {
      background: #368f5e; }

/* Layout */
.wrap {
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrap:before, .wrap:after {
    content: "";
    display: table; }
  .wrap:after {
    clear: both; }

.right {
  float: right;
  text-align: right; }

.center {
  text-align: center; }

.wrapper {
  padding: 6rem 4rem 0 4rem;
  height: 100%;
  width: 100%; }

.nav {
  display: block;
  width: 100%;
  height: 6rem;
  line-height: 4rem;
  padding: 1rem 4rem;
  margin-top: -6rem; }
  .nav a:not(.button) {
    display: inline-block;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 2rem;
    margin-left: 3rem;
    letter-spacing: 0.1rem; }
    .nav a:not(.button):hover {
      color: #1f61a9; }
    .nav a:not(.button).current {
      color: #3ea56d; }
    .nav a:not(.button).logo {
      margin: 0;
      line-height: 4rem; }
      .nav a:not(.button).logo img {
        margin: 1rem 0 0 0;
        height: 2rem; }
  .nav .button {
    margin-left: 3rem; }

.content {
  -webkit-border-radius: 0.2rem 0.2rem 0 0;
  border-radius: 0.2rem 0.2rem 0 0;
  -webkit-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  background: white;
  width: 100%;
  padding: 2rem;
  margin-bottom: -0.2rem; }
  .content .header {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: -2rem -2rem 2rem -2rem;
    padding: 2rem;
    border-bottom: 1px solid #cccccc; }
    .content .header .image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      opacity: 0.5;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .content .header a {
      text-decoration: none; }
      .content .header a:hover {
        color: #3ea56d !important; }
    .content .header h1 {
      padding: 0 0 4rem 0; }
    .content .header .details {
      width: 100%;
      font-size: 0.75em; }
      .content .header .details span {
        margin-right: 0.5rem; }
        .content .header .details span.categories {
          margin: 0 0 0 0.5rem; }
          .content .header .details span.categories a {
            -webkit-border-radius: 0.2rem;
            border-radius: 0.2rem;
            margin: 0 0.5rem 0 0;
            padding: 0.25rem 0.5rem;
            height: 1.2rem;
            line-height: 1.2rem;
            background: #cccccc; }
            .content .header .details span.categories a:hover {
              background: #e6e6e6; }
    .content .header *:last-child {
      padding-bottom: 0; }
  .content .sidebar {
    width: 14rem;
    padding: 0 0 0 2rem;
    margin: 0 0 2rem 2rem;
    float: right;
    border-left: 1px solid #1f61a9;
    font-size: 0.8rem;
    z-index: 1; }
    .content .sidebar a {
      display: block;
      width: 100%;
      clear: both;
      padding: 1rem 0; }
      .content .sidebar a:last-of-type {
        padding: 1rem 0 0 0; }
  .content blockquote {
    font-size: 1.25rem;
    padding: 2rem 2rem 2rem 0;
    width: 50%;
    float: left;
    line-height: 2em;
    word-wrap: break-word;
    color: #3ea56d;
    z-index: 1; }
  .content .article h2 {
    padding: 2rem 0; }
    .content .article h2:first-child {
      padding: 0 0 2rem 0; }
  .content .article p {
    clear: none; }
  .content .section {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    clear: both;
    border-top: 1px solid #cccccc;
    margin: 2rem -2rem -2rem -2rem;
    padding: 2rem;
    width: 100%; }
    .content .section.footer {
      background: #cccccc;
      border-top: 1px solid #999999; }
      .content .section.footer p:first-of-type {
        padding-top: 2rem; }
      .content .section.footer p .item {
        margin: 0 0.5rem; }
  .content .tile {
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    background: #cccccc;
    padding: 2rem 1rem; }
    .content .tile .circle {
      display: block;
      margin: 0 auto 1rem auto;
      color: #333333; }
    .content .tile h3 {
      color: #333333;
      padding: 0; }
  .content .tour::after {
    content: "";
    width: 1px;
    height: 100%;
    background: #cccccc;
    position: absolute;
    display: block;
    top: 0;
    left: 50%; }
  .content .tour .circle.center {
    width: 100px;
    height: 100px;
    border: 25px solid white;
    z-index: 2;
    margin: -25px 0 0 -50px; }
  .content .tour p {
    background: white;
    z-index: 1; }
  .content .tour > p {
    padding: 2rem 0; }
    .content .tour > p:first-child {
      padding-top: 0; }
    .content .tour > p + p {
      margin-top: -2rem; }

/* Grid */
.block {
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.2);
  border: 0.2rem solid white;
  min-height: 20rem; }
  .block.device {
    padding-top: 1.6rem;
    height: 29.8rem;
    display: inline-block;
    overflow: hidden; }
    .block.device::before {
      -webkit-border-radius: 1rem;
      border-radius: 1rem;
      background: white;
      content: "";
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem; }
    .block.device::after {
      background: white;
      content: "";
      display: block;
      width: 100%;
      height: 0.2rem;
      position: absolute;
      top: 1.5rem; }
    .block.device img {
      width: 100%;
      position: static; }

/* Grid */
.row {
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  /* Columns */
  /* Offsets */ }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }
  .row + .row {
    padding-top: 2rem; }
  .row .col-one {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .row .col-one:last-child {
      margin-right: 0; }
  .row .col-two {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .row .col-two:last-child {
      margin-right: 0; }
  .row .col-three {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .row .col-three:last-child {
      margin-right: 0; }
  .row .col-four {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-four:last-child {
      margin-right: 0; }
  .row .col-five {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .row .col-five:last-child {
      margin-right: 0; }
  .row .col-six {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .col-six:last-child {
      margin-right: 0; }
  .row .col-seven {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .row .col-seven:last-child {
      margin-right: 0; }
  .row .col-eight {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .row .col-eight:last-child {
      margin-right: 0; }
  .row .col-nine {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .row .col-nine:last-child {
      margin-right: 0; }
  .row .col-ten {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .row .col-ten:last-child {
      margin-right: 0; }
  .row .offset-one {
    margin-left: 8.5298%; }
  .row .offset-two {
    margin-left: 17.05961%; }
  .row .offset-three {
    margin-left: 25.58941%; }
  .row .offset-four {
    margin-left: 34.11922%; }
  .row .offset-five {
    margin-left: 42.64902%; }
  .row .offset-six {
    margin-left: 51.17883%; }

@media screen and (max-width: 640px) {
  body {
    font-size: 14px; }

  .wrapper {
    padding: 4rem 1rem 0 1rem; }

  .nav {
    padding: 1rem 0;
    margin-top: -4rem; }
    .nav .right {
      height: 0;
      overflow: hidden; }

  .content {
    padding: 1rem; }
    .content .header {
      margin: -1rem -1rem 2rem -1rem;
      padding: 1rem 1rem 2rem 1rem;
      text-align: left; }
      .content .header h1 {
        padding: 0 0 2rem 0; }

  /* Columns */
  .row [class*="col-"] {
    margin-bottom: 2rem; }
    .row [class*="col-"]:last-of-type {
      margin-bottom: 0; }
  .row .col-one {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    .row .col-one:last-child {
      margin-right: 0; }
  .row .col-two {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .col-two:last-child {
      margin-right: 0; }
    .row .col-two:nth-child(2n) {
      margin-right: 0; }
  .row .col-three {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-three:last-child {
      margin-right: 0; }
  .row .col-four {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .col-four:last-child {
      margin-right: 0; }
  .row .col-five {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .row .col-five:last-child {
      margin-right: 0; }
  .row .col-six {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    .row .col-six:last-child {
      margin-right: 0; }
  .row .col-seven {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-seven:last-child {
      margin-right: 0; }
  .row .col-eight {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-eight:last-child {
      margin-right: 0; }
  .row .col-nine {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-nine:last-child {
      margin-right: 0; }
  .row .col-ten {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .row .col-ten:last-child {
      margin-right: 0; } }
