<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/application.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://weloveiconfonts.com/api/?family=fontawesome' rel='stylesheet' type='text/css'>
  </head>

  <body class="{{ page.keyword }}">

    <div class="wrapper">

      <div class="nav">
        <div class="wrap">
          <div class="row">
            <div class="col-two">
              <a href="../index.html" class="logo">
                <img src="../images/logo.png" alt="">
              </a>
            </div>
            <div class="col-ten right">
              <a href="../services.html">Services</a>
              <a href="../process.html">Process</a>
              <a href="../team.html">Team</a>
              <a href="../portfolio.html">Portfolio</a>
              <a href="../blog.html">Articles</a>
              <a href="../contact.html" class="button green">Contact us</a>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        {{ content }}

        <div class="section footer center">
          <p>
            <span class="item">
              Consultation: (919) 557-7550
            </span>
            <span class="item">
              Other Inquiries: (919) 557-6352
            </span>
            <a href="mailto:information@rolemodelsoftware.com" class="item">information@rolemodelsoftware.com</a>
          </p>
          <p class="small">&copy; 1997-2012 RoleModel Software, Inc. All rights reserved.</p>
        </div>
      </div>

    </div>

  </body>
</html>

